# Variables secrètes
.env
.env.local
.env.*.local

# Frontend Node / React
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/

# Fichiers système et éditeur
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Base de données locale
*.db
*.sqlite
*.sqlite3